In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.worldometers.info/coronavirus/'
r = requests.get(url)

In [3]:
soup = BeautifulSoup(r.text, 'lxml')

In [4]:
table1 = soup.find('table', id='main_table_countries_today')

In [5]:
headers = []
for i in table1.find_all('th'):
 title = i.text
 headers.append(title)

In [6]:
mydata = pd.DataFrame(columns = headers)

In [7]:
for j in table1.find_all('tr')[1:]:
 row_data = j.find_all('td')
 row = [i.text for i in row_data]
 length = len(mydata)
 mydata.loc[length] = row

In [8]:
# Drop and clearing unnecessary rows
mydata.drop(mydata.index[0:7], inplace=True)
mydata.drop(mydata.index[222:229], inplace=True)
mydata.reset_index(inplace=True, drop=True)
# Drop “#” column
mydata.drop('#', inplace=True, axis=1)

In [9]:
# Export to csv
mydata.to_csv('covid_data.csv', index=False)
# Try to read csv
mydata2 = pd.read_csv('covid_data.csv')

In [10]:
columns_to_keep=['Country,Other','Continent','Population','TotalCases','NewCases','TotalDeaths','NewDeaths']

In [11]:
mydata2 = mydata2[columns_to_keep]

In [12]:
print(mydata2)

    Country,Other          Continent      Population   TotalCases NewCases
0           World                All             NaN  689,013,308  +11,677  \
1             USA      North America    334,805,269   107,042,460      NaN
2           India               Asia  1,406,631,776    44,986,934      NaN
3          France             Europe     65,584,518    40,054,863      NaN
4         Germany             Europe     83,883,596    38,422,054      NaN
..            ...                ...             ...          ...      ...
228        Total:      South America             NaN   68,674,084      NaN
229        Total:  Australia/Oceania             NaN   14,323,646   +2,022
230        Total:             Africa             NaN   12,823,223      NaN
231        Total:                NaN             NaN          721      NaN
232        Total:                All             NaN  689,013,308  +11,677

                                   TotalDeaths  NewDeaths
0                                    6,880,506       88.0
1    1,164,345                                        NaN
2      531,839                                        NaN
3      167,052                                        NaN
4      173,995                                        NaN
..                                         ...        ...
228                                  1,355,584        NaN
229                                     27,858       11.0
230                                    258,762        NaN
231                                         15        NaN
232                                  6,880,506       88.0

[233 rows x 7 columns]